<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63987641513-66v072jp5li2o16bno6r9glsg36ee3i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63987641513-66v072jp5li2o16bno6r9glsg36ee3i7</string>
	<key>API_KEY</key>
	<string>AIzaSyBhLci7zUrqZqQ65RB0xifb2pDk-O5pva4</string>
	<key>GCM_SENDER_ID</key>
	<string>63987641513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yatrigan</string>
	<key>PROJECT_ID</key>
	<string>yatrigan-dd098</string>
	<key>STORAGE_BUCKET</key>
	<string>yatrigan-dd098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63987641513:ios:4e191d68065fe6ed318db8</string>
</dict>
</plist>